.project-img:hover {
  transform: scale(1.1);
}

.z-1000 {
  z-index: 1000;
}

.bg-custom {
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 10%,
      rgba(255, 255, 255, 1) 17%,
      rgba(226, 226, 226, 1) 65%,
      rgba(224, 224, 224, 1) 100%);
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-no-decoration {
  text-decoration: none !important;
}


a.bg-hover {
  color: inherit;
}


.bg-hover {
  color: white;
  background-color: transparent;
}

.border-dotted-colored {
  border-radius: 11px 11px 11px 11px;
  -moz-border-radius: 11px 11px 11px 11px;
  -webkit-border-radius: 11px 11px 11px 11px;
  border: 3px dashed #4ecdc4;
}

.bg-hover:hover {
  background-color: #f2f2f2 !important;
  color: #262626 !important;
}

.bg-google {
  background-color: #DB4437;
}

.bg-instagram {
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.bg-midnight-gradient {
  background: #232526;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #414345, #232526);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #414345, #232526);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-lgreen {
  background-color: #b3ffcc;
}

.bg-logo {
  background-color: #00aeef !important;
}

.bg-blue {
  background-color: #004b66 !important;
}

.shadow-custom {
  -webkit-box-shadow: inset 0px 0px 10px -5px rgba(0, 0, 0, 1);
  -moz-box-shadow: inset 0px 0px 10px -5px rgba(0, 0, 0, 1);
  box-shadow: inset 0px 0px 10px -5px rgba(0, 0, 0, 1);
}

.space-p-1 {
  padding: 0rem;
}

@media (min-width: 576px) {
  .space-p-1 {
    padding: 0rem;
  }
}

@media (min-width: 768px) {
  .space-p-1 {
    padding: 2rem;
  }
}

@media (min-width: 992px) {
  .space-p-1 {
    padding: 4rem;
  }
}

.display-3-custom {
  font-size: 2.5rem;
}

@media (min-width: 576px) {
  .display-3-custom {
    font-size: 3.2rem;
  }
}

@media (min-width: 768px) {
  .display-3-custom {
    font-size: 3.6rem;
  }
}

@media (min-width: 992px) {
  .display-3-custom {
    font-size: 4.5rem;
  }
}

.bg-lgreen {
  background-color: #b3ffcc;
}

.rounded-lg-1 {
  border-radius: 15rem;
}

.rounded-lg-2 {
  border-radius: 5rem;
}

.space-m-1 {
  margin: 1rem;
}

.lang-img-sm {
  width: 90px;
  height: 90px;
}

.lang-img-m {
  width: 190px;
  height: 190px;
}

.circle-container {
  position: relative;
  /* 1 */
  width: 20em;
  height: 20em;
  padding: 0;
  border-radius: 50%;
  list-style: none;
  /* 2 */
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 3 */
  margin: 5rem auto 0;
}

.circle-container>* {
  /* 4 */
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6em;
  height: 6em;
  margin: -3em;
}

.circle-container> :nth-of-type(1) {
  -webkit-transform: rotate(0deg) translate(10em) rotate(0deg);
  transform: rotate(0deg) translate(10em) rotate(0deg);
}

.circle-container> :nth-of-type(2) {
  -webkit-transform: rotate(45deg) translate(10em) rotate(-45deg);
  transform: rotate(45deg) translate(10em) rotate(-45deg);
}

.circle-container> :nth-of-type(3) {
  -webkit-transform: rotate(90deg) translate(10em) rotate(-90deg);
  transform: rotate(90deg) translate(10em) rotate(-90deg);
}

.circle-container> :nth-of-type(4) {
  -webkit-transform: rotate(135deg) translate(10em) rotate(-135deg);
  transform: rotate(135deg) translate(10em) rotate(-135deg);
}

.circle-container> :nth-of-type(5) {
  -webkit-transform: rotate(180deg) translate(10em) rotate(-180deg);
  transform: rotate(180deg) translate(10em) rotate(-180deg);
}

.circle-container> :nth-of-type(6) {
  -webkit-transform: rotate(225deg) translate(10em) rotate(-225deg);
  transform: rotate(225deg) translate(10em) rotate(-225deg);
}

.circle-container> :nth-of-type(7) {
  -webkit-transform: rotate(270deg) translate(10em) rotate(-270deg);
  transform: rotate(270deg) translate(10em) rotate(-270deg);
}

.circle-container> :nth-of-type(8) {
  -webkit-transform: rotate(315deg) translate(10em) rotate(-315deg);
  transform: rotate(315deg) translate(10em) rotate(-315deg);
}

.circle-container div {
  display: block;
  max-width: 100%;
  border-radius: 50%;
}

/*# sourceMappingURL=main.css.map */